<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <title >POKMN SHDWN</title>
</head>
<body>


<h1 id="blue">EPRIC PKEMON STAATS</h1>
{% for stat in stats %}
<h2 id="red" style="font-size:50">{{ stat.name }}</h2>
<table style="width:100%">
<tr>
    <th>Place</th>
    <th>Name</th>
    <th>{{ stat.stat}}</th>
</tr>
  {% for pokemon in stat.list %}
       <tr>
          <td>{{ loop.index}}</td>
          <td>{{ pokemon.name }}</td>
          <td>{{ pokemon.frequency}}</td>
       </tr>
  {% endfor %}
</table>
{% endfor %}
{#<audio autoplay>#}
{#  <source src={{ url_for('static', filename='pokemon.mp3') }} type="audio/mpeg">#}
{#  No music :'(#}
{#</audio>#}


</body>
</html>